@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

*::-webkit-scrollbar-thumb {
  background-color: #2b2f29;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #2b2f29;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-typography {
  font-size: 16px;
}

#root .ant-form {
  font-size: 16px !important;
}

/**
  * Custom styles for the transfer component
  */
.transfer-custom-fields button {
  background-color: #3b82f6;
}

.ant-input-disabled, .ant-input-number-disabled, .ant-select-disabled, .ant-select-disabled .ant-select-selection-item{
  color: #2b2f29 !important;
}